
.passed {
  fill: #3232dd;
}

.regular {
  fill: green;
}

.available {
  fill: darkorange;
}

.notAvailable {
  fill: red;
}

text {
  fill: white;
}

.everything {
  background: #222;
  width: 100vw;
  height: 100vh;
}

.edgePaths {
  fill: white;
}

.path {
  fill: white;
}